<!DOCTYPE html>
<html ng-app="d3DemoApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS + D3.js</title>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="graph.js"></script>
  </head>
  <body ng-controller="AppCtrl">
    <!-- Here's where our visualization will go -->
    <gh-visualization val="data"></gh-visualization>
  </body>
</html>
